{% extends 'home.html' %}
{#    <form method="get" action=".">#}
{% block main %}
    {# query就是我们的字符串 #}
    {% if query %}

        {% for result in page.object_list %}
            <p style="margin-left: 1000px;margin-top:60px">
                <a href="/book/detail/{{ result.object.id }}" style="color: black">{{ result.object.name }}</a>
            </p>
        {% empty %}
            <div style="width: 100%; height: 500px;"><img src="/static/img/other/404.gif"></div>

        {% endfor %}

    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock %}

{#    </form>#}
