{% extends 'home.html' %}
{% block main %}
<div class="container">
    <br>
    <br>
    <h2 style="text-align: center">作者详情页面</h2>
    <br>
    <br>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul class="media-list">
                <li class="media">
                    <div class="media-left" style="width: 20%;height: 100%">
                        <img class="media-object" src="/{{ author.image }}" alt="...">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">{{ author.name }}</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <p>
                            作者简介：&nbsp;&nbsp;&nbsp;
                            <span>{{ author.info }}</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}

